body {
    font-family: Arial, sans-serif;
    background-color: #251ac2a6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    margin: 60px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
#app {
    background-color: #bc1414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(12, 21, 203, 0.615);
}

#task-form input {
    margin-right: 10px;
}

#task-list li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #1cef5899;
}

#task-list li.completed {
    text-decoration: line-through;
}
